:root {
--brand-color: #d9adad;
--primary-font: 'Space Mono', monospace;
--background-image: linear-gradient(#ad9d9d18, #ad9d9d46); 
--headline-color: black;
--subhead-color: dimgray;
--secondary-font: 'Montserrat', sans-serif;
--font-overpass: 'Overpass Mono', monospace; /* angular, light 300, regular 400, semi-bold 600, bold 700; great fit with Raleway,  PT Sans, Monsterrat, Open Sans, Lato, Roboto */
--button-color: white;
--button-background-color: #ad9d9d;
--button-border-radius: 3px;
--button-text-decoration: none;
--button-padding: 10px 20px;
--button-text-align: center;
}


body {
font-family: var(--primary-font);
background-image: var(--background-image);
margin:0px;
padding:0px;
}

.container-fluid {
margin:0px;
padding:0px;
}

nav {
font-family: 'Montserrat', sans-serif;}

.homepage-hero {
padding-top: 170px;
padding-left: 90px;
padding-bottom:150px;}

.homepage-hero h1 {
font-size:85px;
line-height:120px;
font-weight: 300;
}
.button-container {
padding-top: 20px;
}

.button {
color: var(--button-color);
background-color: var(--button-background-color);
border-radius: var(--button-border-radius);
text-decoration: var(--button-text-decoration);
padding: var(--button-padding);
text-align: var(--button-text-align);
transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
box-shadow: 5px 5px #ad9d9d46;
font-size: 20px;
font-family: var(--secondary-font);
}

.button:hover {
background-color: #838383;
color: white;
}

@media (max-width: 576px ) {



.homepage-hero {
padding-top: 100px;
padding-left: 20px;
padding-bottom:80px;}

.homepage-hero h1 {
font-size:35px;
line-height:70px;
margin-left: 50px;
margin-bottom:5px;
text-align: left;} 

.headline {
text-align: center;}

body {
text-align: justify;}

h2, h3 {
padding-left: 3px;
padding-right: 3px;
}
 h2 {
text-align: center;
}
.contacts h3, .contacts a, .contacts-icons {
text-align: center;
}
}

.profile-img {
width: auto; 
height: auto;
max-width: 310px;
max-height: 310px;
border-radius: 2px;
box-shadow: 25px 25px #ad9d9d46; 
}



.headline {
font-weight: 500;
font-size: 32px;

}

.maxi-headline {
font-weight: 500;
font-size: 42px;
line-height: 50px;
padding-top:15px;
padding-bottom:15px;
text-align: center;
}
.maxi-headline-left {
font-weight: 500;
font-size: 42px;
line-height: 50px;
padding-top:15px;
padding-bottom:15px;
padding-left: 20px;
}

h3 {
font-weight: 300;
font-family: 'Cutive Mono', monospace;
font-size: 25px;
padding-right:20px;
padding-left: 20px;
}


.triangle-left {
  height: 0;
  width: 0;
  border-left: 100px solid #ad9d9d;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
  opacity: 60%;
}


.triangle-right {
  height: 0;
  width: 0;
  border-right: 100px solid #ad9d9d;
  border-left: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
  margin-right:0;
  margin-left:auto;
  opacity: 60%;
}

.triangle-down {
  width: 0;
	height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid  #ad9d9d;
  opacity: 60%;


}

.highlighted-word {
color: white;
background-color: #d9adad;
padding-left: 13px;
padding-right:13px;
font-family: 'Montserrat', sans-serif;
}

.contacts {
padding-left:10px;
padding-right:10px;
padding-top:20px;
margin-top:20px;
text-align: right;

}



.intro-cv {
padding-bottom:100px;
}

.my-cv {
font-family: var(--secondary-font);
line-height: 30px;
color: dimgray;
box-shadow: 5px 5px #ad9d9d46;
border-radius: 35px;
}

.mb-logo {
margin-bottom:-45px;
padding-top:0px;
}

.year-company{
opacity: 65%;
}


.job-descr {
margin-top:-20px;
padding-top:0px;
padding-left: 10px;
padding-right:10px;
padding-bottom: 10px;}

.tools {
padding-top:160px;
padding-bottom:160px;
font-family: var(--primary-font);
}


.big-title {
text-transform: uppercase;
font-size: x-large;
color: rgba(0,0,0,.07);
font-family: var(--secondary-font);
font-size: 50px;
font-weight: 900;
letter-spacing: 5px;
text-decoration: none;
text-align: center;

}

.big-title:hover {
color: #d9adad;
}

.social-icon, .email-link {
color:#838383;
text-decoration: none;
}

.social-icon:hover, .email-link:hover{
color:#d9adad;
text-decoration: none;
}

.footer {
text-align: center;
color: #838383;
font-size: 12px;
margin:95px;
}

.heart {
font-weight: bolder;
color: #d9adad;
font-size:20px;
}

.back-to-top {
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99;
  border: none;
  outline: none;  
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  
}